<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Staff</title>
</head>
<body>
<form th:action="@{/advanceSearch}" method="post">
    <input name="name" type="text" placeholder="Name">
    <!--Birthday <input name="birthday" type="date">-->
    Birthday from <input name="startDate" type="date">
    to <input name="endDate" type="date">
    <input type="tel" name="phonenumber" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" maxlength="10" id="phoneNumber" placeholder="Phone number">
    <input name="address" type="text" placeholder="Address">
    <button type="submit">SEARCH</button>
</form>

<form action="/listStaff/">
    <button type="submit">SHOW ALL STAFF</button>
</form>

<table border="2px">
    <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="item : ${listStaff}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${#dates.format(item.getBirthday(), 'dd-MM-yyyy')}"></td>
        <td th:text="${item.getPhonenumber()}"></td>
        <td th:text="${item.getAddress()}"></td>
        <td>
            <form th:action="@{/editStaff/{id}(id=${item.id})}" method="post"><input type="submit" value="Edit"></form>
        </td>
        <td>
            <form th:action="@{/deleteStaff/{id}(id=${item.id})}" method="post"><input type="submit" value="Delete">
            </form>
        </td>

    </tr>
</table>
<form th:action="@{/addStaff}" method="post">
    <input type="submit" value="ADD STAFF">
</form>
    
    <!-- Đoạn script này ngăn không cho viết chữ chỉ viết số-->
<script>
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    }
    // Install input filters.
    setInputFilter(document.getElementById("phoneNumber"), function (value) {
        return /^\d*$/.test(value);
    });
</script>

    
</body>
</html>
